# THIS IS A TEMPLATE FILE. MAKE A COPY AND RENAME TO `.env` TO USE.

# https://discord.com/developers
TOKEN=BOT_TOKEN

DATABASE_URL=jdbc:postgresql://postgres:5432/bellatrix
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
